In [55]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [56]:
df = pd.read_csv(r'''D:\RAPHAEL\semester 7\machine learning\Data-Mining-Student-Performance-master\Data-Mining-Student-Performance-master\datat.csv''')
df.head()

,sex,age,Medu,Fedu,studytime,failures,famrel,freetime,health,absences,address,guardian,G3
0,F,18,4,4,2,0,4,3,3,6,U,mother,6
1,F,17,1,1,2,0,5,3,3,4,U,father,6
2,F,15,1,1,2,3,4,3,3,10,U,mother,10
3,F,15,4,2,3,0,3,2,5,2,U,mother,15
4,F,16,3,3,2,0,4,3,5,4,U,father,10

In [57]:
inputs = df.drop('G3',axis='columns')
target = df['G3']
inputs.head()

,sex,age,Medu,Fedu,studytime,failures,famrel,freetime,health,absences,address,guardian
0,F,18,4,4,2,0,4,3,3,6,U,mother
1,F,17,1,1,2,0,5,3,3,4,U,father
2,F,15,1,1,2,3,4,3,3,10,U,mother
3,F,15,4,2,3,0,3,2,5,2,U,mother
4,F,16,3,3,2,0,4,3,5,4,U,father

In [58]:
from sklearn.preprocessing import LabelEncoder
le_sex = LabelEncoder()
inputs['sex_n'] = le_sex.fit_transform(inputs['sex'])
inputs.head()

,sex,age,Medu,Fedu,studytime,failures,famrel,freetime,health,absences,address,guardian,sex_n
0,F,18,4,4,2,0,4,3,3,6,U,mother,0
1,F,17,1,1,2,0,5,3,3,4,U,father,0
2,F,15,1,1,2,3,4,3,3,10,U,mother,0
3,F,15,4,2,3,0,3,2,5,2,U,mother,0
4,F,16,3,3,2,0,4,3,5,4,U,father,0

In [59]:
inputs_n = inputs.drop(['sex','age','failures', 'address', 'guardian'],axis='columns')
inputs_n.head()

   Medu  Fedu  studytime  famrel  freetime  health  absences  sex_n
0     4     4          2       4         3       3         6      0
1     1     1          2       5         3       3         4      0
2     1     1          2       4         3       3        10      0
3     4     2          3       3         2       5         2      0
4     3     3          2       4         3       5         4      0

In [60]:
from sklearn.model_selection import train_test_split # Import train_test_split function
pred_train, pred_test, tar_train, tar_test = train_test_split(inputs_n, target, test_size= 0.25)

In [61]:
pred_train.shape

(592, 8)

In [62]:
pred_test.shape

(198, 8)

In [63]:
tar_train.shape

(592,)

In [64]:
tar_test.shape

(198,)

In [65]:
from sklearn.neighbors import KNeighborsClassifier
K = 1
model = KNeighborsClassifier(n_neighbors=K)
classifier = model.fit(pred_train,tar_train)
classifier

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=1, n_neighbors=1, p=2,
           weights='uniform')

In [66]:
classifier.get_params()

{'algorithm': 'auto',
 'leaf_size': 30,
 'metric': 'minkowski',
 'metric_params': None,
 'n_jobs': 1,
 'n_neighbors': 1,
 'p': 2,
 'weights': 'uniform'}

In [67]:
predictions = classifier.predict(pred_test)
predictions

array([17, 16,  0, 10, 12, 16,  9, 12, 11, 15, 10, 11, 18,  8, 12, 12, 14,
        7, 14, 11, 16,  8, 13, 14, 10, 12,  0,  9, 20,  0, 13,  8,  5, 12,
       15, 11,  8,  9,  6,  8, 15, 14, 13, 10, 10,  8,  9, 15,  9, 11,  9,
       12, 10, 15, 14, 16,  9, 15, 12,  9,  0, 14, 16, 15, 18,  0, 11,  0,
        0, 13, 11, 10, 10,  8, 12, 16, 11, 13, 17,  8, 15, 10, 12, 10, 11,
       10, 14,  0,  0,  0, 10,  9, 15,  0,  7, 13,  6, 12,  9, 11, 13, 14,
       10,  0,  0, 15,  8, 14, 13, 11,  9,  6,  5, 11, 10, 13, 10, 10,  9,
       15, 15,  5, 13, 11, 10, 14, 12,  9, 13, 13,  0,  8, 13, 10, 11, 10,
        8,  0, 10, 11,  0, 13, 10, 10, 12,  0,  8,  9, 14,  7,  8,  8, 10,
       19, 11,  8, 14,  9,  9, 12, 10, 14, 13, 16,  6,  0,  8,  0, 17, 14,
       10, 11, 10, 15, 15, 15,  9, 15, 14, 14, 10,  6,  7, 18,  0, 10, 10,
        0, 17,  9,  8,  0, 10, 18,  8, 14, 14, 15], dtype=int64)

In [68]:
#classification accuracy
from sklearn.metrics import accuracy_score
print("Accuracy is ", accuracy_score(tar_test, predictions, normalize = True))

Accuracy is  0.833333333333

In [69]:
xx = model.predict([[3,3,2,4,3,5,4,0]])
xx

array([10], dtype=int64)

In [70]:
if xx >= 10:
  print("lulus")
else:
  print("tidak lulus")

lulus