In [113]:
import numpy as np
import pandas as pd
# To model the Gaussian Navie Bayes classifier
from sklearn.naive_bayes import GaussianNB
# To calculate the accuracy score of the model
from sklearn.metrics import accuracy_score

In [114]:
df = pd.read_csv(r'''D:\RAPHAEL\semester 7\machine learning\Data-Mining-Student-Performance-master\Data-Mining-Student-Performance-master\datat.csv''')
df.head()

,sex,age,Medu,Fedu,studytime,failures,famrel,freetime,health,absences,address,guardian,G3
0,F,18,4,4,2,0,4,3,3,6,U,mother,6
1,F,17,1,1,2,0,5,3,3,4,U,father,6
2,F,15,1,1,2,3,4,3,3,10,U,mother,10
3,F,15,4,2,3,0,3,2,5,2,U,mother,15
4,F,16,3,3,2,0,4,3,5,4,U,father,10

In [115]:
inputs = df.drop('G3',axis='columns')
target = df['G3']
inputs.head()

,sex,age,Medu,Fedu,studytime,failures,famrel,freetime,health,absences,address,guardian
0,F,18,4,4,2,0,4,3,3,6,U,mother
1,F,17,1,1,2,0,5,3,3,4,U,father
2,F,15,1,1,2,3,4,3,3,10,U,mother
3,F,15,4,2,3,0,3,2,5,2,U,mother
4,F,16,3,3,2,0,4,3,5,4,U,father

In [116]:
from sklearn.preprocessing import LabelEncoder
le_sex = LabelEncoder()
inputs['sex_n'] = le_sex.fit_transform(inputs['sex'])
inputs.head()

,sex,age,Medu,Fedu,studytime,failures,famrel,freetime,health,absences,address,guardian,sex_n
0,F,18,4,4,2,0,4,3,3,6,U,mother,0
1,F,17,1,1,2,0,5,3,3,4,U,father,0
2,F,15,1,1,2,3,4,3,3,10,U,mother,0
3,F,15,4,2,3,0,3,2,5,2,U,mother,0
4,F,16,3,3,2,0,4,3,5,4,U,father,0

In [117]:
inputs_n = inputs.drop(['sex','age','failures', 'address', 'guardian'],axis='columns')
inputs_n.head()

   Medu  Fedu  studytime  famrel  freetime  health  absences  sex_n
0     4     4          2       4         3       3         6      0
1     1     1          2       5         3       3         4      0
2     1     1          2       4         3       3        10      0
3     4     2          3       3         2       5         2      0
4     3     3          2       4         3       5         4      0

In [128]:
from sklearn.model_selection import train_test_split # Import train_test_split function
pred_train, pred_test, tar_train, tar_test = train_test_split(inputs_n, target, test_size=0.25)

In [129]:
pred_train.shape

(592, 8)

In [130]:
pred_test.shape

(198, 8)

In [131]:
tar_train.shape

(592,)

In [132]:
tar_test.shape

(198,)

In [133]:
model = GaussianNB()
classifier = model.fit(pred_train,tar_train)
classifier

GaussianNB(priors=None)

In [134]:
classifier.get_params()

{'priors': None}

In [135]:
predictions = classifier.predict(pred_test)
predictions

array([10,  0,  0, 10, 10, 15,  0, 11,  6,  9, 13, 11, 13, 11, 10, 14, 10,
       10, 10,  0,  0,  0,  0, 12,  0,  0, 14, 12, 15, 10, 10,  0, 15, 10,
        0, 14,  0, 14, 14, 14, 14, 15, 10, 10, 14,  9, 11, 12, 10, 14, 11,
       11, 11, 14, 18, 11,  9, 10, 10, 10, 10,  0, 10, 11,  0, 10, 10, 11,
       14, 10, 14, 14, 10,  0, 10,  0,  0,  0,  9, 10, 10, 11,  0, 12, 14,
       11, 14,  0,  0, 15,  0, 10, 13, 12,  0,  0, 10,  9, 10,  0, 18, 11,
       10, 10, 10, 10, 14, 10,  0, 10, 10,  0,  4, 11, 14, 10, 14,  0,  0,
       10, 14,  0,  0,  0, 10, 14,  0,  0, 16, 10, 14,  0,  0,  0,  0, 14,
       11, 10, 13,  9,  0,  0,  8, 14,  0,  0, 11,  0, 10, 14,  0, 14, 15,
        0, 14, 13, 10, 10, 10, 18,  0,  5,  0, 18,  0, 13, 14,  0,  0, 10,
        0, 16, 14, 10,  0, 10,  0, 12, 10,  9, 14, 10,  8, 10, 13,  0, 14,
        5,  0, 15,  8,  0, 11, 12, 14,  0,  0, 10], dtype=int64)

In [136]:
print("accuracy of training dataset is{:.2f}".format(classifier.score(pred_train,tar_train)))
print("accuracy of test dataset is {:.2f}".format(classifier.score(pred_test,tar_test)))
#accuracy
print("Accuracy is",accuracy_score(tar_test, predictions, normalize = True))

accuracy of training dataset is0.26
accuracy of test dataset is 0.26
Accuracy is 0.257575757576

In [137]:
xx = model.predict([[3,3,2,4,3,5,4,0]])
xx

array([10], dtype=int64)

In [138]:
if xx >= 10:
  print("lulus")
else:
  print("tidak lulus")

lulus