In [1]:
import pandas as pd
from sklearn import svm
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
import sklearn.metrics

In [2]:
df = pd.read_csv(r'''D:\RAPHAEL\semester 7\machine learning\Data-Mining-Student-Performance-master\Data-Mining-Student-Performance-master\datat.csv''')
df.head()

,sex,age,Medu,Fedu,studytime,failures,famrel,freetime,health,absences,address,guardian,G3
0,F,18,4,4,2,0,4,3,3,6,U,mother,6
1,F,17,1,1,2,0,5,3,3,4,U,father,6
2,F,15,1,1,2,3,4,3,3,10,U,mother,10
3,F,15,4,2,3,0,3,2,5,2,U,mother,15
4,F,16,3,3,2,0,4,3,5,4,U,father,10

In [3]:
inputs = df.drop('G3',axis='columns')
target = df['G3']
inputs.head()

,sex,age,Medu,Fedu,studytime,failures,famrel,freetime,health,absences,address,guardian
0,F,18,4,4,2,0,4,3,3,6,U,mother
1,F,17,1,1,2,0,5,3,3,4,U,father
2,F,15,1,1,2,3,4,3,3,10,U,mother
3,F,15,4,2,3,0,3,2,5,2,U,mother
4,F,16,3,3,2,0,4,3,5,4,U,father

In [4]:
target.head()

0     6
1     6
2    10
3    15
4    10
Name: G3, dtype: int64

In [5]:
from sklearn.preprocessing import LabelEncoder
le_sex = LabelEncoder()
inputs['sex_n'] = le_sex.fit_transform(inputs['sex'])
inputs.head()

,sex,age,Medu,Fedu,studytime,failures,famrel,freetime,health,absences,address,guardian,sex_n
0,F,18,4,4,2,0,4,3,3,6,U,mother,0
1,F,17,1,1,2,0,5,3,3,4,U,father,0
2,F,15,1,1,2,3,4,3,3,10,U,mother,0
3,F,15,4,2,3,0,3,2,5,2,U,mother,0
4,F,16,3,3,2,0,4,3,5,4,U,father,0

In [6]:
inputs_n = inputs.drop(['sex','age','failures', 'address', 'guardian'],axis='columns')
inputs_n.head()

   Medu  Fedu  studytime  famrel  freetime  health  absences  sex_n
0     4     4          2       4         3       3         6      0
1     1     1          2       5         3       3         4      0
2     1     1          2       4         3       3        10      0
3     4     2          3       3         2       5         2      0
4     3     3          2       4         3       5         4      0

In [7]:
pred_train, pred_test, tar_train, tar_test = train_test_split(inputs_n, target, test_size= 0.25)

In [8]:
pred_train.shape

(592, 8)

In [9]:
pred_test.shape

(198, 8)

In [10]:
tar_train.shape

(592,)

In [11]:
tar_test.shape

(198,)

In [13]:
clf =svm.SVC(kernel='rbf', C=1000, gamma=1000)
clf.fit(pred_train,tar_train)

SVC(C=1000, cache_size=200, class_weight=None, coef0=0.0,
  decision_function_shape=None, degree=3, gamma=1000, kernel='rbf',
  max_iter=-1, probability=False, random_state=None, shrinking=True,
  tol=0.001, verbose=False)

In [15]:
clf.get_params()

{'C': 1000,
 'cache_size': 200,
 'class_weight': None,
 'coef0': 0.0,
 'decision_function_shape': None,
 'degree': 3,
 'gamma': 1000,
 'kernel': 'rbf',
 'max_iter': -1,
 'probability': False,
 'random_state': None,
 'shrinking': True,
 'tol': 0.001,
 'verbose': False}

In [16]:
pred = clf.predict(pred_test)
pred

array([11, 18, 10,  7, 15, 10, 14, 16, 12, 13, 14, 10, 10, 13, 10, 10, 15,
       12, 12, 10, 10,  7, 10, 10, 10, 11, 10,  0, 10,  9,  0,  0, 12, 15,
        0, 15, 15, 18,  8, 10,  9, 17, 10, 16, 11, 10,  0, 14, 12, 16, 13,
       10, 10, 11, 11,  0,  6, 13, 10, 12, 10,  8,  8, 10, 11, 10, 18, 15,
       13, 10,  6, 12, 16, 11, 10, 10, 11,  9,  7, 10, 15,  0, 11, 10, 10,
       11,  5, 15, 11,  8, 10,  5, 11, 10, 12, 17, 10, 11,  0, 10, 10, 14,
        0, 11, 10,  9, 15, 12, 10,  7, 10,  9, 10, 14, 16, 15, 14,  6, 13,
        7, 10, 15, 10, 10, 10,  8,  8, 10, 10,  0,  9, 11, 10, 10,  5, 15,
       14,  9, 13, 10, 16, 10,  9, 10, 11, 10,  6, 10, 18, 15,  8,  9, 10,
       10, 10,  0, 10, 15, 13,  5,  0,  8,  9, 16, 10, 10, 13, 15, 10,  8,
       15, 12, 13, 14,  0, 10,  4, 13,  8,  8, 10, 13, 12, 12, 12, 11,  9,
       11, 16, 11, 10, 14,  8, 10,  6, 20, 13, 11], dtype=int64)

In [18]:
#classification accuracy
print("accuracy of training dataset is{:.2f}".format(clf.score(pred_train,tar_train)))
print("accuracy of test dataset is {:.2f}".format(clf.score(pred_test,tar_test)))
#accuracy
print("Accuracy is",accuracy_score(tar_test, pred, normalize = True))

accuracy of training dataset is0.99
accuracy of test dataset is 0.81
Accuracy is 0.813131313131

In [21]:
xx = clf.predict([[3,3,2,4,3,5,4,0]])
xx

array([10], dtype=int64)

In [22]:
if xx >= 10:
  print("lulus")
else:
  print("tidak lulus")

lulus